@font-face {

  font-family: "National2-Medium";

  src: url(font/national2-medium-webfont.woff2) format("woff2");

}
@font-face {

  font-family: "National2-regular";

  src: url(font/national2-regular-webfont.woff2) format("woff2");

}

@font-face {

  font-family: "National2-light";

  src: url(font/national2-light-webfont.woff2) format("woff2");

}

@font-face {

  font-family: "BureauGrotCompressed-regular";

  src: url(font/bureau_grot_compressed_black-webfont.woff2) format("woff2");

}


:root {
  // font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  // font-size: 16px;
  line-height: 24px;
  // font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  // font-synthesis: none;
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-text-size-adjust: 100%;
}



html{
  scroll-behavior: smooth;
background-color: rgb(252, 252, 247);

}

body{
  height:fit-content;
  background-color: rgb(247, 247, 243);
}

.App{
  background-color: rgb(247, 247, 243);
}
.logo{
  max-width: 20%;
  padding: 1rem;
}


label, .message{
   color: #242424;
   text-align: center;
   font-family: National2-Regular, sans-serif;

 }

 a{
 color: #925fbe;
 }

    p {
      color: #242424;
      text-align: center;
      font-family: National2-light, sans-serif;
  
    }
          h3 {
           color: #242424;
           text-align: center;
           font-family: National2-Regular, sans-serif;
          
         }
         h2{
          font-family: National2-Medium, sans-serif;
          font-weight: 400;
          font-size: 21px;
        
         }

img{
  max-width: 100%;
  max-height: 700px;
}

// .App{
 
// }

Header{
  background-color: rgb(247, 247, 243);
  grid-column: 1/-1;

  section{
   margin-left: 6rem;
   margin-bottom: 4rem;
    color: #242424;
    h2{
    font-family: BureauGrotCompressed-regular, sans-serif;
    letter-spacing: 10px;
    font-size: 1.5rem;
    color: rgb(119, 141, 129);
    }
    img{
      max-width: 20%;
    }
  
  }

  nav{
    display: flex;
    justify-content: space-between;

    img{
      max-width: 10%;
    }
  }

}

.Valgtteam{
  background-color: rgb(247, 247, 243);
  color: #242424;
  display: flex;
  flex-direction: column;

   position: sticky;
      bottom: 0px;
  

  li {
      list-style: none;
        font-family: National2-regular, sans-serif;
     
    }


  button {
  align-self: center;
  margin-bottom: 2rem;
  font-family: National2-Medium, sans-serif;

    
  }
}


button{
    border-radius: 0px;
    background-color: #4e4e4e;
    border: 0;
    width: 150px;
    height: 45px;
    color: rgb(247, 247, 243);
    cursor: pointer;
    font-family: National2-Medium, sans-serif;
}

button:hover{
  transition: 1s;
  background-color: #4f00cf;
}

a:hover{
  color: #4f00cf;
}

.x{
  border-radius: 20px;
    background-color: #242424;
    border: 0;
    width: 19px;
    height: 19px;
  
    
 margin: 1rem;

}

.Members{
  background-color: rgb(247, 247, 243);
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  gap: 3rem;
  padding-bottom: 4rem;
  // padding: 1rem;
 

}

.Member{
 
  // background-color: rgb(218, 232, 218);
  text-align: center;
   padding-bottom: 1rem;
  box-shadow: 4px 6px 15px #ded5cd;
  background-color: rgb(218, 228, 220);
   color: #242424;


   h3{
    color: #242424;
    font-size: 1rem;
        font-family: National2-light, sans-serif;
   }
 

  .memberflex{
    padding:1rem ;
    display: flex;
   flex-direction: column;
// margin: 2rem;
  height: 12rem;
  justify-content: space-between;

  button{
    align-self: center;
  }


  }

}

.FinishedTeam{
  color: #242424;
  // padding: 1rem;
  background-color: rgb(247, 247, 243);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    // .Member{
    //   display: flex;
    //   max-width:80%;
    // }
         padding-bottom: 4rem;
    gap: 1rem;
    // padding: 1rem;
   

        .Member {
    
          // background-color: rgb(218, 232, 218);
          text-align: center;
          padding-bottom: 1rem;

          h2{
            font-size: 2rem;
          }

          .para{
                font-family: National2-bold, sans-serif;
                font-size: 1.3rem;
          }
    
         
    
          .memberflex {
            padding: 1rem;
            display: flex;
            flex-direction: column;

           height: fit-content;
            justify-content: space-between;
    
            button {
              align-self: center;
            }
    
    
          }
    
        }
        


 
}

.SendTeam{
  color: #242424;
  background-color: rgb(247, 247, 243);


  button{
    margin: 1rem;
  }

padding: 1rem;
margin: 1rem;
  gap: 1rem;

    .message {
      outline: none;
      width: 100%;
      margin-top: 8px;
      padding: 4px 0;
      border: none;
      border-bottom: 1px solid #242424;
      background-color: transparent;
      font-size: 20px;
      
    }
}

.Valgtteam{
  background-color: rgb(247, 247, 243);

}





@media (min-width: 1000px) {



Header {
   
    grid-column: 1/-1;

  }


  .FinishedTeam {
      color: #242424;
      // padding: 1rem;
      background-color: rgb(247, 247, 243);
    
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      // grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
      .Member{
        display: flex;
        padding-bottom: 0rem;
             margin-left: 2rem;
                 margin-right: 2rem;

                 .memberflex{
                  margin: 2rem;
                 }
        p{
        margin-left: 2rem;
        margin-right: 2rem ;
        text-align: center;
        width:auto;
        }
  
        img{
          max-width: 400px;
         
        }

        
      
      }
      gap: 2.5rem;
      // padding: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
  
  
  
    }

    

        .Valgtteam {
        
          position:static;
          top:30px;

          
    
        }

        .App {
          display: grid;
          grid-template-columns: auto 300px;
        }

        .SendTeam{
          margin-left: 2rem;
          margin-right: 2rem;
        }


}

@media (min-width: 1500px) {

  .FinishedTeam {

    margin-left: 8rem;
    margin-right: 8rem;


  }

  .FinishedTeam .Member p {
    // margin-left: 6rem;
    // margin-right: 6rem;
  }



}